@import _mixins
@import _variables

$callHeight = 80px

#wrapper
  position: relative !important 
  transition: all 1s

  &.hasActiveCall
    transform: translateY($callHeight)

#calls
  position: fixed
  top: 0
  left: 0px
  transition: all 1s
  width: 100%
  height: $callHeight
  z-index: 1000
  background: white

  &:empty, &.ending
    transform: translateY(-($callHeight))

  .call
    height: $callHeight
    padding: 0
    margin: 0

    &.incoming
      background: $activeBlue
      .callTime
        display: none
      .callerName:before
        content: "Incoming: "

    &.waiting
      background: $activeBlue
      
      .spinner div
        background-color: #fff

    &.calling
      callbar($blue)
      .callTime
        display: none
      .callerName:before
        content: "Calling: "

    &.active
      callbar($green)
      .callerName:before
        content: "On Call: "

    &.inactive
      callbar(#fff)

    &.remote
      callbar($blue  #333)    
      .callTime
        display: none

    &.ending
      .callerName:before
        content: "Call ending with: "
      callbar($grey)
      
    .callActions
      position: absolute
      left: 10px
      top: 50px
      display: block
      width: 100%

  nav
    float: left

  button  
    min-width: auto
    background-color: rgba(255,255,255,.3)
    gradient(rgba(255,255,255,.5),rgba(0,0,0,.1))
    border:
      top: 1px solid rgba(255,255,255,.6)
      bottom: 1px solid rgba(0,0,0,.1)
      left: 1px solid rgba(255,255,255,.2)
      right: 1px solid rgba(255,255,255,.2)
    width: 100px
    margin-right: 10px
    font-size: 16px
    color: rgba(0,0,0,.75)
    text_shadow(rgba(255,255,255,.5),0,1px,0)
    float: left
    shadow(rgba(0,0,0,.3), 0, 1px, 3)
    &:hover
      background-color: rgba(255,255,255,.4)
    &:active
      inner_shadow(rgba(0,0,0,.2),0,1px,3)
      padding-top: 11px
      padding-bottom: 9px
      border:
        bottom: 1px solid rgba(255,255,255,1)
        top: 1px solid rgba(0,0,0,.2)

  .callerAvatar
    float: left
    width: 50px
    height: 50px
    margin-right: 10px
    roundall(25px)
    
  .callerName, .callTime  
    font-weight: bold
    color: #fff
    text_shadow(rgba(0,0,0,.7),0,1px,0)
    line-height: 1

  .caller
    margin: 0
    font-size: 20px
    padding-bottom: 0px
    border-bottom: 2px groove rgba(255,255,255,.4)

  .callerName
    display: inline
  .callerNumber
    display: inline
    margin-left: 10px

  .callTime
    position: absolute
    top: 12px
    right: 40px
    font-size: 20px
    margin: 0
