@import '../_variables'
@import '../_mixins'

#connectionOverlay
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, 0.5)
  z-index: 1000
  transition: all .25s linear 0

  &.connected
    height: 0px
    
    #connectionStatus
      top: -200px

#connectionStatus
  height: 75px
  width: 400px
  top: 30%
  left: 50%
  margin-left: -200px
  position: absolute
  z-index: 10
  text-align: center

  p
    padding: 0 0 20px 0
    margin: 0

  button
    position: relative
    top: -1px
