// Forms and Buttons

input[type=text], input[type=email], input[type=search], input[type=password], textarea, .main .status
  -webkit-appearance: none
  roundall(3px)
  padding: 0 10px
  background-color: white
  border: 1px solid $gray-lighter
  font-size: $font-size-small
  color: $gray
  borderbox()
  font-family: $font-family-gotham
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none

  transition: border .2s ease-in 0
  -webkit-transition: border .2s ease-in 0
  -moz-transition: border .2s ease-in 0

input[type=text], input[type=email], input[type=search], input[type=password], .main .status
  height: 35px

textarea
  resize: none

input[type=text]:focus, 
input[type=email]:focus, 
input[type=search]:focus,
input[type=password]:focus,
textarea:focus,
.main .status:focus
  outline: none
  border: 1px solid lighten($blue, 50%)

label
  display: block
  margin-bottom: 5px
  font-size: 13px
  font-weight: $font-weight-bold
  color: $gray