// Forms and Buttons

input[type=text], input[type=email], input[type=search], input[type=password], textarea
  -webkit-appearance: none
  roundall(3px)
  padding: 0 10px
  background: white
  border: 1px solid $grayOutline
  font-size: $fontSmall
  color: $baseText
  borderbox()
  gotham()
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none

  transition: border .2s ease-in 0
  -webkit-transition: border .2s ease-in 0
  -moz-transition: border .2s ease-in 0

input[type=text], input[type=email], input[type=search], input[type=password]
  height: 35px

textarea
  resize: none

input[type=text]:focus, 
input[type=email]:focus, 
input[type=search]:focus,
input[type=password]:focus,
textarea:focus,
.main .status:focus
  outline: none
  border: 1px solid lighten($activeBlue, 50%)

label
  display: block
  margin-bottom: 5px
  font-size: 13px
  font-weight: bold
  color: $baseText

a.button
  line-height: 35px

button, a.button
  display: inline-block
  gotham()
  roundall(3px)
  border: none
  height: 35px
  min-width: 80px
  padding: 0 1em
  color: white
  background: $activeBlue
  font-size: $fontSmall
  font-weight: bold
  text-decoration: none
  text-align: center
  cursor: pointer

  &:hover
    background: darken($activeBlue, 30%)