@import '../_variables'
@import '../_mixins'

body
  background: white
  color: $baseText
  font-family: $font-family-gotham
  font-size: $font-size-base
  font-weight: 400
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4
  color: darken($baseText, 30%)

h3
  margin-top: 0
  font-size: $fontMedium

#pages
  position: absolute
  top: 0px
  right: 0px
  left: 201px
  height: 100%
  borderbox()

  .scroll-container
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch
