@import '../_variables'
@import '../_mixins'

body
  background: #ecf0f2
  color: #222
  font-family: 'Lucdia Grande', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 17px
  font-weight: 500
  -webkit-font-smoothing: antialiased

  #pages
    position: absolute
    top: 0px
    right: 0px
    left: 156px
    borderbox()

  #menu
    width: 155px
