@import '../_variables'
@import '../_mixins'

body
  background: #ecf0f2
  color: $baseText
  font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 16px
  font-weight: 400
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4
  color: darken($baseText, 30%)

#pages
  position: absolute
  top: 0px
  right: 0px
  left: 156px
  borderbox()

#menu
  width: 155px
