@import '../_variables'
@import '../_mixins'

#menu
  position: fixed
  top: 0px
  bottom: 0px
  left: 0px
  width: 180px
  background-color: $sidebarBg
  z-index: 300
  overflow-y: auto;
  overflow-x: hidden;
  webkit-transition-fix()
  noselect()

  .main
    li
      list-style-type: none
      line-height: 12px

      svg
        position: absolute
        top: 50%
        left: 10px
        margin-top: -13px
        fill: white

      &:hover
        background: $activeBlue

      a
        display: block
        position: relative
        padding: 0 15px 0 40px
        text-decoration: none
        font-size: $fontMedium
        color: white
        font-weight: 600
        line-height: 35px


  h1
    font-size: $fontSmall
    margin: 0
    padding: 20px 15px 10px 15px
    color: white
    text-transform: uppercase

#roster,
#bookmarks
  li
    list-style-type: none
    padding: 7px 10px
    margin: 0px
    position: relative
    min-height: 15px
    font-size: $fontSmall
    color: #fff
    cursor: pointer
    transition: all .3s ease-in 0
    -webkit-transition: all .3s ease-in 0
    -moz-transition: all .3s ease-in 0

    &:nth-child(2n)
      background: lighten($sidebarBg, 4%)

    &:hover
      background: $activeBlue

    &.hasUnread .unread
      display: block

    &.online,
    &.chat
      border-left: 3px solid #427a00

    &.dnd
      border-left: 3px solid #c50041

    &.away,
    &.xa
      border-left: 3px solid #f57900

    &.offline
      border-left: none

    &.offline:not(:hover)
      .name
        color: $textSecondary

      img
        opacity: .25

      .status
        color: #777

    &.activeContact, &.offline.activeContact
      background: white
      font-weight: bold

      .name
        color: $baseText

    &.composing
      border-right: 4px solid orange

    &.paused
      border-right: 4px solid #666

    img
      opacity: 1

    .avatar
      vertical-align: top
      margin-right: 5px
      margin-top: -10px
      position: absolute
      left: 10px
      top: 50%
      avatarSmall()
      noselect()

    .name
      margin-left: 30px
      line-height: 20px
      color: white
      text-overflow: ellipsis
      overflow: hidden
      width: 70%

    .status
      color: $textSecondary
      font-size: $fontSmall-2px
      margin: 0
      margin-left: 30px

      &:not(:empty)
        margin-top: -5px

    .unread
      display: none
      color: white
      padding: 0 5px
      roundall(20px)
      position: absolute
      top: 10px
      right: 15px
      text-align: center
      font-weight: bold
      background: $activeBlue

