.uploadRegion {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -o-border-radius: 10px;
  -border-radius: 10px;
  border-radius: 10px;
  border: 1px dashed #777;
}
