@import '../_variables'
@import '../_mixins'

.main > div
  padding: 20px
  border-bottom: 1px solid $gray-lighter

  .status
    padding: 10px

  &:last-of-type
    border: none

.uploadRegion
  padding: 15px
  font-size: $font-size-small
  roundall(3px)
  margin: 10px 0
  color: $gray-light
  background: lighten($gray-light, 93%)

  p
    margin: 0

  input
    width: 100%
    padding: 5px
    borderbox()

  img
    margin: 10px 0
