section.page.chat
  section.conversation
    header
      h1
        span.status
        span.name
        button.primary.small.call Call
        button.secondary.small.remove Remove
      .tzo
      .activeCall
        video.remote(autoplay)
        video.local(autoplay, muted)
        aside.button-wrap
          button.accept.primary Accept
          button.end.secondary End
          .button-group.outlined
            button.mute Mute
            button.unmute Unmute
    ul.messages.scroll-container
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
