section.page.chat
  section.conversation
    header
      img.avatar
      h1.name
      .tzo
    ul.messages.scroll-container
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
