section.page.chat
  section.conversation
    header
      img.avatar
      h1.name
      .tzo
      button.call call
      .activeCall
        video.remote(autoplay)
        video.local(autoplay, muted)
        aside.buttons
          button.end End
          button.mute Mute
          button.unmute Unmute
    ul.messages.scroll-container
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
