section.page.chat
  section.conversation
    header
      h1.name
      .status
      .idleTime
      .tzo
      button.primary.small.call call
      .activeCall
        video.remote(autoplay)
        video.local(autoplay, muted)
        aside.button-wrap
          button.end.primary End
          .button-group.outlined
            button.mute Mute
            button.unmute Unmute
    ul.messages.scroll-container
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
