section.page.chat
  section.conversation
    header
      .title
        span.name
        i.user_presence.fa.fa-circle
        span.status
      .tzo
    ul.messages.scroll-container
    .activeCall
      .container
        video.remote(autoplay)
        video.local(autoplay, muted)
        aside.button-wrap
          button.accept.primary Accept
          button.end.secondary End
          .button-group.outlined
            button.mute Mute
            button.unmute Unmute
    .chatBox
      .contactState
      form.formwrap
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
      button.primary.small.call Call
