section.page.chat
  section.conversation
    header
      img.avatar
      h1.name
      button.primary.joinRoom Join
      button.secondary.leaveRoom Leave
    ul.messages
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
