section.page.chat
  section.conversation
    header
      h1.name
      .controls
        button.primary.joinRoom Join
        button.secondary.leaveRoom Leave
    ul.messages
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
