section.page.chat
  section.conversation
    header.online
      h1.name
      .status
      .controls
        button.primary.small.joinRoom Join
        button.secondary.small.leaveRoom Leave
    ul.messages
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
