section.page.chat
  section.group.conversation
    header.online
      h1
        span.name
        span.status(contenteditable="true")
      .controls
        button.primary.small.joinRoom Join
        button.secondary.small.leaveRoom Leave
    ul.messages
    ul.groupRoster
    .chatBox
      form
        textarea(name='chatInput', type='text', placeholder='Send a message...', autocomplete='off')
