section.page.main

  h1#title Settings

  div#avatarChanger
    h4 Change Avatar
    div.uploadRegion
      p Drag and drop a new avatar here
      img
      form
        input#uploader(type="file")

  div
    h4 Desktop Integration
    button.enableAlerts Enable alerts
    button.primary.installFirefox Install app
    button.soundNotifs Sound Notification

  div
    button.logout Logout
