section.page.main
  button.enableAlerts Enable alerts

  div#avatarChanger
      h1 Change Avatar
      div.uploadRegion
          p Drag and drop a new avatar here
          img(width="40", height="40")
          form
              input#uploader(type="file")

  h1 This space intentionally blank
