section.page.main

  div
    h3 Current status
    .status(contenteditable="true")

  div#avatarChanger
    h3 Change Avatar
    div.uploadRegion
      p Drag and drop a new avatar here
      img
      form
        input#uploader(type="file")

  div
    h3 Add / Approve Contacts
    input(type="text")#addcontact
    button.addContact Add
    ul#contactrequests

  div
    h3 Desktop Integration
    button.enableAlerts Enable alerts
    button.installFirefox Install app
