section.page.signin
    div#loginForm
        form
            label JID:
                input(type="text", id="jid", placeholder="you@aweso.me")
            label Password:
                input(type="password", id="password")
            label WebSocket URL:
                input(type="text", id="wsURL", placeholder="wss://aweso.me:5281/xmpp-websocket")
            input(type="submit", value="Connect")
