!!!5
html
    head
        title OTalk
        
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

        link(rel="stylesheet", href="/styles.css")
        block head
    body
        block content

        script(src='/zepto.js')
        block scripts
