!!!5
html
    head
        title OTalk
        
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

        link(rel="stylesheet", href="/css/otalk.css")
        block head
    body.aux
        header
            img#logo(src="/images/logo.png", alt="OTalk")
        block content

        script(src='/js/zepto.js')
        script(src='//static.andyet.com/tag.js')
        block scripts
