extends layout

block content
  section#loginbox.content.box
    .head
        h2
          | Log in

    .content

        form
            .fieldContainer
                label(for='username') Username
                input(type='text', id='jid', name='jid', placeholder='you', tabindex='1', autofocus)
            .fieldContainer
                label(for='password') Password
                input(type='password', id='password', name='password', placeholder='•••••••••••••', tabindex='2')

            button(type='submit', tabindex='3', class="primary") Go!

block scripts
    script(src="/config.js")
    script(src="/js/login.js")
