// colors

$activeBlue = #00aeef
$actionPink = #ec008c

$sidebarBg = #0b1316
$sidebarActive = #192a47

$baseText = #565656
$textSecondary = #b7b7b7

$grayBackground = #f7f7f7
$grayOutline = #e4e4e4

// font sizes

$fontLarge = 20px
$fontMedium = 14px
$fontSmall = 12px 

