// Blues

$blue-saturated-darker = #0B1316
$blue-saturated-dark = #0f2034
$blue-saturated = #192a47
$blue-saturated-light = #34465a
$blue-saturated-lighter = #6c7f95

$blue = #12acef
$blue-light = lighten($blue, 50%)
$blue-lighter = lighten($blue, 90%)

// Monochromatic

$gray-dark = #2d2d2d
$gray = #565656
$gray-light = #878787
$gray-lighter = #eeeeee

// Pinks

$pink = #ec008c
$pink-light = #f8bee0
$pink-lighter = #fce8f1

// Greens

$green = #41A564
$green-light = lighten($green, 70%)
$green-lighter = lighten($green, 94%)
$green-lighterer = #B2D5C9

// Reds

$red = #de0a32
$red-light = lighten($red, 80%)
$red-lighter = lighten($red, 97%)

// Orange

$orange = #f18902
$orange-light = lighten($orange, 50%)
$orange-lighter = lighten($orange, 85%)

// Brown

$brown = #4D394B
$brown-light = #AB9BA9
$brown-lighter = lighten($brown, 20%)
$brown-dark = #3E313C
$brown-darker = #372C36
$brown-darkerer = #625361

// Gray

$gray-dark = #555459
$gray = #9E9EA6
$gray-light = #BABBBF
$gray-lighter = #E0E0E0

// Black

$black = #3D3C40


// Style

$topbarBg = #3D486B
$topbarFg = #fff

$meUsernameColor = #fff

$sidebarTopAndBottomBg = #2B3556
$sidebarOrgaName = #fff
$sidebarBorder = #121A33
$sidebarBg = #E5E5E5
$sidebarText = #565656
$sidebarSectionTitleColor = #8E8E8E

$sidebarNames = #919191

$sidebarInputBg = $sidebarBg
$sidebarInputBorder = #BBBBBB
$sidebarInputText = $sidebarNames

$sidebarSelectionBg = #AEAEAE
$sidebarSelectionText = #000

$sidebarUnreadBg = $sidebarSelectionBg
$sidebarUnreadText = #000

$sidebarHover = $sidebarSelectionBg
$sidebarHoverText = #fff

$sidebarRequestBg = $sidebarHover
$sidebarRequestBorder = $sidebarHover

$sidebarStatusText = $sidebarNames
$sidebarStatusBorder = $sidebarInputBorder

$settingsBg = transparent
$settingsText = #B5B5B5
$settingsHoverBg = #fff
$settingsHoverText = $sidebarSelectionBg

// Font families

$font-family-lato = 'Lato', sans-serif
$font-family-gotham = 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif

// Font sizes

$font-size-large = 17px
$font-size-message = 15px
$font-size-base = 14px
$font-size-small = 12px
$font-size-smaller = 10px

$font-size-h1 = 28px
$font-size-h2 = 22px
$font-size-h3 = 16px
$font-size-h4 = 12px

$line-height-base = 18px
$line-height-headings = 26px

$font-weight-classic = 500
$font-weight-bold = 700
$font-weight-bolder = 900
