// Blues

$blue-saturated-darker = #0B1316
$blue-saturated-dark = #0f2034
$blue-saturated = #192a47
$blue-saturated-light = #34465a
$blue-saturated-lighter = #6c7f95

$blue = #12acef
$blue-light = lighten($blue, 50%)
$blue-lighter = lighten($blue, 90%)

// Monochromatic

$gray-dark = #2d2d2d
$gray = #565656
$gray-light = #878787
$gray-lighter = #eeeeee

// Pinks

$pink = #ec008c
$pink-light = #f8bee0
$pink-lighter = #fce8f1

// Greens

$green = #43bb6e
$green-light = lighten($green, 70%)
$green-lighter = lighten($green, 94%)

// Reds

$red = #de0a32
$red-light = lighten($red, 80%)
$red-lighter = lighten($red, 97%)

// Orange

$orange = #f18902
$orange-light = lighten($orange, 50%)
$orange-lighter = lighten($orange, 85%)

// Font families

$font-family-gotham = 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif

// Font sizes

$font-size-large = 16px
$font-size-base = 14px
$font-size-small = 12px
$font-size-smaller = 10px

$font-size-h1 = 30px
$font-size-h2 = 24px
$font-size-h3 = 18px
$font-size-h4 = 14px

$line-height-base = 18px
$line-height-headings = 26px

$font-weight-bold = 800