@import '../_variables'
@import '../_mixins'

body
  background: white
  color: $gray
  font-family: $font-family-gotham
  font-size: $font-size-base
  font-weight: 400
  -webkit-font-smoothing: antialiased

h1, h2, h3, h4
  color: darken($gray, 30%)

h4
  margin-top: 0
  font-size: $font-size-h4

a
  color: $blue
  font-weight: $font-weight-bold
  text-decoration: none

  &:hover, &:active
    color: $blue-saturated-light

#pages
  position: absolute
  top: 0px
  right: 0px
  left: 270px
  height: 100%
  borderbox()
