.aux

  header
    margin-top: 8%
    text-align: center

#logo
  margin: auto

.box
  position: relative
  margin: auto
  margin-top: 5%
  padding: 20px 0
  background: white
  width: 75%
  roundall(3px)

  &.connect
    padding: 20px
    text-align: center

    h2
      padding: 0

    .button
      float: none
      margin-top: 20px

  .head, .content
    padding: 0 20px

  .head
    margin-bottom: 20px
    border-bottom: 1px solid lighten($gray-lighter, 50%)

  input
    width: 100%
    margin-bottom: 15px

  a.button
    float: right

  h2
    margin: 0
    padding-bottom: 20px

#loginbox
  margin-bottom: 120px

.fieldContainerWSS
  display: none

@media screen and (min-width: 768px)

  .box
    width: 50%


