@import '../_variables'
@import '../_mixins'

#topbar
  position: fixed
  left: 220px
  top: 0px
  height: 54px
  width: 100%
  background-color: #fff
  z-index: 100
  noselect()
  color: #fff

  .settings
    position: fixed
    padding-left: 30px
    line-height: 30px
    height: 30px
    right: 5px
    top: 5px
    background-color: $settingsBg
    color: $settingsText
    transition: none
    border: 0

    svg
      position: absolute
      top: 50%
      left: 5px
      margin: 0px
      margin-top: -13px
      fill: $settingsText

    &:hover
      background-color: $settingsHoverBg
      color: $settingsHoverText

      svg
        fill: #fff
