@import '../_variables'
@import '../_mixins'

#menu
  position: fixed
  top: 0px
  bottom: 0px
  left: 0px
  width: 220px
  background-color: $sidebarBg
  color: $sidebarText
  border-right: 1px solid $sidebarBorder
  z-index: 300
  overflow-y: auto;
  overflow-x: hidden;
  webkit-transition-fix()
  noselect()

  #organization
    width: 220px
    height: 53px
    background-color: $sidebarTopAndBottomBg
    border-bottom: 2px solid $sidebarBorder
    margin-bottom: 10px

    #orga_name
      color: $sidebarOrgaName
      font-size: $font-size-large
      font-weight: $font-weight-bolder
      line-height: 53px;
      vertical-align: middle
      margin-left: 20px

  .main
    margin: 10px 0 0 0
    text-align: center
    li
      display: inline-block

      &:last-of-type
        a
          margin-left: 5px
          padding-left: 30px

      svg
        position: absolute
        top: 50%
        left: 5px
        margin-top: -13px
        fill: white

      a
        position: relative

  h1
    font-size: $font-size-base
    margin: 0
    padding: 4px 20px
    text-transform: uppercase

#roster,
#bookmarks
  margin-right: 20px
  margin-bottom: 25px

  #contactrequests
    margin: 0px
    padding-left: 0px

    li
      width: 180px
      height: 68px
      margin-left: 20px
      margin-bottom: 10px
      padding-bottom: 4px
      background: $sidebarRequestBg
      border-radius: 0.25rem
      border: 2px solid $sidebarRequestBorder

      .response
        text-align: center

  .jid
    display: inline-block
    width: 100%
    text-align: center

  .approve, .deny
    display: inline-block
    margin-top: 10px

  #addcontact,
  #joinmuc
    margin: 8px 20px 5px 20px
    padding: 0px 10px
    width: 178px
    height: 25px
    font-size: $font-size-small
    background-color: $sidebarInputBg
    border-radius: 0.25rem
    border: 1px solid $sidebarInputBorder
    color: $sidebarInputText

  li
    list-style-type: none
    padding: 4px 10px
    margin: 0px
    border-radius: 0px 0.25rem 0.25rem 0px;
    position: relative
    height: 25px
    font-size: $font-size-base
    cursor: pointer
    width: 100%
    borderbox()
    color: $sidebarNames

    &:hover
      background: $sidebarHover

    &.joined
      &:hover:not(.hasUnread) .remove
        visibility: visible

    &:not(.joined)
      &:hover:not(.hasUnread) .join
        visibility: visible

    &.hasUnread, &.hasUnread .prefix
      font-weight: $font-weight-bolder
      color: #fff

    &:not(.activeContact).offline,
    &:not(.activeContact).chat
      .presence
        color: $brown-light

    &:not(.activeContact).dnd
      .presence
        color: $red
        opacity: 1

    &:not(.activeContact).away,
    &:not(.activeContact).xa
      .presence
        color: $orange
        opacity: 1

    &.activeContact, &.offline.activeContact
      background: $sidebarSelectionBg
      .prefix
        color: $green-lighterer
        opacity: 1
      &:not(.dnd):not(.away):not(.online) .presence
        color: $brown-darkerer
        opacity: 1
      .remove, .join
        color: #fff
      .name
        color: #fff

    &:not(.activeContact).online
      .presence
        color: $green
        opacity: 1

    &.online, &.dnd, &.away
      .name
        font-style : normal

    &.activeContact
      &.online .presence,
      &.dnd .presence,
      &.away .presence
        color: #fff
        opacity: 1

    &.composing
      &:after
        animation: pulsate 1.5s infinite ease-in
        -webkit-animation: pulsate 1.5s infinite ease-in
        -moz-animation: pulsate 1.5s infinite ease-in

    &.paused
      &:after
        background: lighten($gray-light, 30%)
        border-color: lighten($gray-light, 30%)

    &.idle
      padding-right: 15px

      &:after
        background: transparent

      .name
        color: $sidebarNames
        max-width: 60%

      .user
        width: 95%

    .presence
      font-size: 10px
      display: inline-block
      margin-top: -10px
      vertical-align: middle
      opacity: 0.5

    .user
      display: inline-block
      width: 120px
      line-height: 100%
      overflow: hidden
      text-overflow: ellipsis
      height: $font-size-base+3
      font-style: italic
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25)

    .status
      font-size: $font-size-small
      font-weight: 400
      line-height: 12px
      margin: 0

    .idleTime
      display: inline-block
      margin-left: 5px
      font-size: $font-size-small
      color: darken($brown-light, 50%)

    .name
      width: 100%
      line-height: 100%
      overflow: hidden
      text-overflow: ellipsis
      height: $font-size-base+3
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3)
      position: absolute
      left: 32px
      max-width: 140px

    .unread
      display: none
      color: $sidebarUnreadText
      height: 16px
      width: 18px
      roundall(5px)
      position: absolute
      padding-top:2px
      right: 5px
      top: 3px
      font-size: $font-size-smaller
      font-weight: $font-weight-bold
      text-align: center
      background: $sidebarUnreadBg

    .unread:not(:empty)
      display: block

    .remove, .join
      position: absolute
      right: 7px
      top: 5px
      font-size: $font-size-base
      display: inline-block
      font-family: FontAwesome
      visibility: hidden

    .prefix
      font-weight: 300
      opacity: 0.5
      position: relative
      left: -15px
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);

    button
      margin: -15px 0px 0px 5px

    .leaveRoom
      display: none

    .joinRoom
      display: inline-block

    &.joined
      .joinRoom
        display: none

      .leaveRoom
        display: inline-block

#roster
  .wrap
    padding-left: 10px

#bookmarks
  .wrap
    padding-left: 24px

@keyframes pulsate
  0%
    opacity: 1.0
  50%
    opacity: 0.5
  100%
    opacity: 1.0
