@import '../_variables'
@import '../_mixins'

// Settings
.main

  svg
    position: absolute
    top: 24px
    left: 16px
    margin: 0px
    margin-top: -13px
    fill: $gray
    z-index: 101

  h1
    color: $gray-dark
    padding: 0
    margin: 0
    position: fixed
    top: 14px
    left: 266px
    right: 200px
    z-index: 101

  > div
    padding: 20px
    border-bottom: 1px solid $gray-lighter
    h4
      color: $blue-saturated

    &:last-of-type
      border: none

    .status
      overflow: hidden
      min-height: 35px
      max-height: 50px
      height: auto

    .installFirefox, .soundNotifs
      margin-left: 5px

    .soundNotifs
      &.primary
        &:before
          content: 'Disable '
      &.secondary
        &:before
          content: 'Enable '

.uploadRegion
  padding: 15px
  roundall(3px)
  margin: 50px 0
  border: 1px solid $gray-lighter
  background: lighten($gray-lighter, 80%)

  p
    margin: 0

  img
    margin: 10px 0
