@import '../_variables'
@import '../_mixins'

// Settings
.main > div
  padding: 20px
  padding-top: 50px
  border-bottom: 1px solid $gray-lighter

  &:last-of-type
    border: none

  .status
    overflow: hidden
    min-height: 35px
    max-height: 50px
    height: auto

.uploadRegion
  padding: 15px
  roundall(3px)
  margin: 10px 0
  border: 1px solid $gray-lighter
  background: lighten($gray-lighter, 80%)

  p
    margin: 0

  img
    margin: 10px 0
