html, body {
    font-family: 'lucida grande';
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    background-color: #ecf0f2;
}

#pages {
    margin-left: 176px;
}

#log {
    padding: 5px;
}

#contactList {
    top: 0px;
    left: 0px;
    width: 175px;
    height: 100%;
    background-color: #1C232D;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid black;
    color: #efefef;
    text-shadow: 1px 1px 1px #444;
}

#contactList > li {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    position: relative;
}

#contactList li:nth-child(2n) {
    background-color: #1e252f;
}

#contactList li:hover {
    background-color: #2a323f;
}

.contact {
    min-height: 20px;
}

.contact .avatar {
    vertical-align: top;
    margin-right: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.contact .name {
    margin: 0px;
    margin-left: 40px;
}

.contact .status {
    color: #ccc;
    font-style: italic;
    font-size: 10px;
    margin: 0px;
    margin-left: 40px;
}

.contact.offline img {
    opacity: 0.25;
}

.contact.online img, .contact.chat img {
    opacity: 1;
}

.contact.dnd img {
    opacity: 1;
}

.contact.away img, .contact.xa img {
    opacity: 1;
}

.contact.online, .contact.chat {
    border-left: 2px solid green;
}

.contact.away {
    border-left: 2px solid orange;
}

.contact.dnd {
    border-left: 2px solid red;
}

.contact.xa {
    border-left: 2px solid orange;
}

.contact.offline {
    border-left: 2px solid #222;
    color: #aaa;
}

.contact.composing {
    border-right: 4px solid orange;
}

.contact.offline .status {
    color: #777;
}

.chatView {
    position: relative;
}

#conversation {
    background: #ecf0f2;
    box-sizing: border-box;
    bottom: 0;
    margin: 0;
    padding-bottom: 30px;
    max-width: 100%;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    margin-top: 50px;
    padding-top: 50px;
    bottom: 50px;
}

#conversation li {
    position: relative;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

#conversation .message {
    color: #33404c;
    font-size: 11px;
    padding: 7px 10px;
    display: inline-block;
    margin: 0;
    padding-right: 10px;
    min-width: 20px;
    width: 100%;
    border-bottom: 1px solid #ccc;
/*    background: #f1fce7; */
}

#conversation .body {
    display: inline;
    word-break: break-word;
    padding: 0;
    margin: 0;
    color: #111;
}

#conversation .message.mine {
    background: #EAF7FF;
    border-bottom: 1px solid #BBE0FA;
}

#conversation .timestamp {
    font-size: 11px;
    color: #bbb;
    font-weight: bold;
    float: right;
    display: block;
    margin-right: 15px;
}

#conversation .mine .timestamp {
    color: #BBE0FA;
}

.delayed .timestamp:before {
    content: '@ '
}

.edited .timestamp:before {
    content: 'edited '
}

.contactInfo {
    padding: 5px;
    background-color: #bccad0;
    background-image: -moz-linear-gradient(top, #bccad0, #95a4a9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bccad0), color-stop(1, #95a4a9));
    min-height: 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.contactInfo .avatar {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.contactInfo .name {
    margin-left: 45px;
    font-size: 14px;
}

#me {
    display: none;
}

#chatInput {
    position: fixed;
    bottom: 0px;
    left: 176px;
    right: 0px;
    z-index: 100;
    background: #ecf0f2;
}

#chatInput form {
    background-color: #e1e4e6;
    background-image: -moz-linear-gradient(top, #e1e4e6, #cacdce);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e1e4e6), color-stop(1, #cacdce));
    padding: 10px;
    z-index: 1000;
    border-top: 1px solid #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#chatBuffer {
    width: 100%;
    padding: 5px;
    height: 30px;
    line-height: 20px;
    font-size: 13px;
    resize: none;
    outline: none;
    border: 1px solid #ccc;
    border-top-color: #bbb;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'lucida grande';
}

#chatBuffer.editing {
    background-color: yellow;
}

#loginForm {
    margin: 50px;
}
#loginForm label {
    display: block;
}
