html, body {
    font-family: 'lucida grande';
    font-size: 11px;
    padding: 0px;
    margin: 0px;
    background-color: #ecf0f2;
}

#pages {
    margin-left: 205px;
}

#contactList {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #1C232D;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid black;
    color: #efefef;
    text-shadow: 1px 1px 1px #444;
}

#contactList > li {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    position: relative;
}

#contactList li:nth-child(2n) {
    background-color: #1e252f;
}

#contactList li:hover {
    background-color: #2a323f;
}

.contact {
    min-height: 20px;
}

.contact .avatar {
    vertical-align: top;
    margin-right: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.contact .name {
    margin: 0px;
    margin-left: 40px;
}

.contact .status {
    color: #ccc;
    font-style: italic;
    font-size: 10px;
    margin: 0px;
    margin-left: 40px;
}

.contact.offline img {
    opacity: 0.25;
}

.contact.online img, .contact.chat img {
    opacity: 1;
}

.contact.dnd img {
    opacity: 1;
}

.contact.away img, .contact.xa img {
    opacity: 1;
}

.contact.online, .contact.chat {
    border-left: 2px solid green;
}

.contact.away {
    border-left: 2px solid orange;
}

.contact.dnd {
    border-left: 2px solid red;
}

.contact.xa {
    border-left: 2px solid orange;
}

.contact.offline {
    border-left: 2px solid #222;
    color: #aaa;
}

.contact.composing {
    border-right: 4px solid orange;
}

.contact.offline .status {
    color: #777;
}

#conversation {
    background: #ecf0f2;
    box-sizing: border-box;
    bottom: 0;
    margin: 0;
    max-width: 100%;
    padding: 0;
    overflow-x: hidden;
}

#conversation li {
    position: relative;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

#conversation .message {
    color: #33404c;
    font-size: 11px;
    padding: 7px 10px;
    display: inline-block;
    margin: 0;
    padding-right: 10px;
    min-width: 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #B5CB9F;
    background: #f1fce7;
}

#conversation .body {
    display: inline;
    word-break: break-word;
    padding: 0;
    margin: 0;
    color: #111;
}

#conversation .message.mine {
    background: #EAF7FF;
    border-bottom: 1px solid #BBE0FA;
}

#conversation .timestamp {
    font-size: 11px;
    border: 1px solid rgba(215,215,215,0);
    color: #B5CB9F;
    font-weight: bold;
    float: right;
    padding: 1px 5px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0) 0 -1px 1px;
    text-decoration: none !important;
    text-shadow: none;
    display: block;
}

#conversation .mine .timestamp {
    color: #BBE0FA;
}
.delayed .timestamp:before {
    content: '@ '
}

.edited .timestamp:before {
    content: 'edited '
}

