body
    .wrap
        #reconnect
        header#me
            img.avatar
            p.status
        nav.main
            li
                a(href="/logout") Logout
            li
                a(href="/") Home
        nav#contactList
        section#pages
        footer
