body
    #connectionOverlay
        aside#connectionStatus
            button.reconnect Reconnect
            span.message disconnected
    aside#menu
        nav.main
            li
                a(href="/logout") Logout
            li
                a(href="/") Settings
        section#roster
            h1 Roster
            nav
        section#bookmarks
            h1 Bookmarks
            nav
    section#pages
