.wrap
    header
        .loggedOut
            a.logIn(href="#") Log In
        .loggedIn
            img.avatar
            .name
            a(href="/logout") Log Out
    section#pages
    footer
        a#ad(href='http://andbang.com', target='_blank')
        a#andyet(href='http://andyet.com', target='_blank')
          img(src='http://andyet.com/images/logo.png', width='40')
