extends layout

block content
      
        a(href='/')
          h1#logo
            img(src='conversatio.png', height='64', width='480', alt='Conversat.io')
        h2
          span#title Get a room.
        p.desc Video chat with up to 6 people.
        

        h3#roomLink
          | include includes/link.svg
          span#subTitle
        form#createRoom
          input#sessionInput(placeholder='Name the conversation', autofocus='autofocus')
          button(type='submit') Let’s go!
        p.about
          | Requires Chrome or Firefox Nightly with peer connection enabled.
          br
          | conversat.io uses
          a(href='https://github.com/henrikjoreteg/SimpleWebRTC') the simple WebRTC library
          | from
          a(href='http://andyet.com') &yet
          | and so can you.
        video#localVideo
        .controls
          button#shareScreen
            span.share
              i.ss-icon windows
              | Share screen
            span.unshare
              i.ss-icon windows
              | Unshare screen
          button#muteMicrophone
            span.mute
              i.ss-icon volume
              | Mute
            span.unmute
              i.ss-icon volumehigh
              | Unmute
          button#pauseVideo
            span.pause
              i.ss-icon pause
              | Pause
            span.resume
              i.ss-icon play
              | Resume
        //
           controls 
        #remotes
        #game
          aside#instructions(style='position: absolute;')
            h3 Play lander while you wait for people to join.
            p Arrow keys control the ship
            p
              code r
              | restarts
            p
              code x
              | blows up your ship
            p Have fun!
          canvas#viewport
