!!! 5
html
  head
    title conversat.io
    meta(charset='utf-8')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='fonts.css')
    meta(name='google-site-verification', content='OEAv0Phoo4ZRGpC-GIVt-WpSDQU8wtQerm6s9PToCVY')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='socket.io.js')
    script(src='fluidgrid.js')
    script(src='sound-effect-manager.js')
    script(src='jquery.slidingmessage.js')
    script(src='retina.js')
    script(src='simplewebrtc.js')
    script(src='conversat.io.js')
    script(async='async', src='awesome-andbang-ad.js')
    script(async='async', src='metrics.js')
  body
    .wrap
      section
        block content
      footer
        a#ad(href='http://andbang.com', target='_blank')
        a#andyet(href='http://andyet.com', target='_blank')
          img(src='http://andyet.com/images/logo.png', width='40')
