!!! 5
html
    head
    body
        h1 conversat.io help

        p conversat.io uses cutting edge web technology called WebRTC that is only available in <a href="http://chrome.com">chrome</a> and <a href="https://nightly.mozilla.org/">firefox 24+</a>.

        h2#screensharing Screensharing

        p Screensharing is currently only available in chrome and requires that you change a setting. If you're in chrome you can click right here:  

        ol
            li download and open chrome.
            li go to <a href="chrome://flags">chrome://flags</a> (click that link, or type it into the url bar.
            li Scroll all the way to the bottom. And make sure that "enable screen capture support in getUserMedia()" is enabled: 
                p <img src="http://f.cl.ly/items/1v1x463V180530472p45/Screen%20Shot%202013-05-14%20at%2010.25.57%20AM.png" alt="screensharing setting screenshot" />
            li click the "relaunch now" button at the bottom of the page.
            li you should now be able to share your screen. 

        p note: you won't have to do these steps in a bit, when Google considers this feature stable enough. But hey, we can do screensharing now, so why not!? :)

        h2#feedback We'd love to hear from you

        p We'd love to hear from you: <a href="mailto:support@conversat.io">support@conversat.io</a>.
