.call
  img.callerAvatar
  h1.caller
    span.callerName
    span.callerNumber
  h2.callTime
  .callActions
    button.answer Answer
    button.ignore Ignore
    button.cancel Cancel
    button.end End
    button.mute Mute
    button.unmute Unmute
