li.ldapUser
  span.name
  span.delete.fa.fa-trash
  span.fa.fa-plus
  .wrap
    span.inputLabel Display Name
    input(type="text").displayName
    span.inputLabel First Name
    input(type="text").givenName
    span.inputLabel Last Name
    input(type="text").sn
    span.inputLabel Email
    input(type="text").mail
    button.primary.small.changePassword Change Password
