.message(id='chat'+message.cid, class=message.classList)
  p.body !{message.processedBody}
  - var urls = message.urls
  section.embeds
    each item in urls
      if item.source == 'body'
        section.embed.hidden
          a.source(href=item.href)= item.desc
      else
        section.embed
          a.source(href=item.href)= item.desc
