li
  .sender
    .name=message.from.resource
    a.messageAvatar(href='#')
      //img(src=message.sender.avatar, alt=message.sender.displayName, data-placement="below")
  .messageWrapper
    include mucBareMessage
