- var messageDate = Date.create(message.timestamp)
li
  .sender
    a.messageAvatar(href='#')
      img(src="https://gravatar.com/avatar", alt=message.from.resource, data-placement="below")
  .messageWrapper
    .message_header
      .name #{message.from.resource}
      .date(title=messageDate.format('{Dow}, {MM}/{dd}/{yyyy} - {h}:{mm} {Tt}')) #{messageDate.format('{h}:{mm} {tt}')}
    include mucBareMessage
